<head>
    <title>Drag and Drop File Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" media="all"  href="{{ url_for('static', filename='css/demo.css')}}">
</head>

<body>
    <div class="row ">
        <div class="column drop-zone">
            <span class="drop-zone__prompt">Nhấn nút vào hoặc kéo thả ảnh vào đây </span>
            <input type="file" name="myFile" class="drop-zone__input">
        </div>

        <div class="column drop-zone">
            <span class="drop-zone__prompt">Kết quả </span>
        </div>
    </div>
    <div class="btn">
        <button type="button" class="btn_sb">Submit</button>
    </div>

    <script src="/static/js/demo.js"></script>
</body>